body{
    background-image: url(../assignment/record.png);
    background-repeat: repeat-y;
    margin: 0;
}

header{
    background-color: darkred;
    color: aqua;
    text-align: center;
}

main{
    background-color: lightgrey;
    padding: 1em;
}
