body{
    background-image: url(../assignment/record.png);
    background-repeat: inherit;
}

header{
    background-color: darkred;
    color: aqua;
    text-align: center;
}

main{
    background-color: lightgrey;
}
